@charset "utf-8";

body {
	width: 100%;
	min-height: 100%;

}
.conteudo{
	width: 100%;
	min-height: 500px;
}

.clear{
	clear:both;
}

.top{
	min-height: 200px;
	font-size: 100px;
	text-align:center;

}

.mid{
	min-height: 300px;

}

.bot{
	min-height: 50px;

}

.midtop{
	padding-top: 50px;
	min-height: 200px;
	float: right;
}
.midaux{
	padding-top: 50px;
	min-height: 200px;
	float: right;


}

.midbot{

}

